<h1>Hello!</h1>
<p>This is index.</p>

<ul class="ml-4 chat flex flex-col gap-4">
  <%= for name <- ~w"Alice Bob Carol" do %>
    <li class="flex flex-row">
      <span class="chat-bubble chat-start">{name} Appeared.</span>
      <a href={~p"/hello/#{name}"} class="btn btn-primary">Wave</a>
    </li>
  <% end %>
</ul>
